---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import FoodCatalog from "../components/FoodCatalog.astro";
import AboutSection from "../components/AboutSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<BaseLayout>
  <Header />
  <main>
    <FoodCatalog />
    <AboutSection />
    <ContactSection />
  </main>
</BaseLayout>